# Default ignored files
/shelf/
/workspace.xml

HermaeusMora/.env
/HermaeusMora/.idea
__pycache__/
.env
*.pyc
/HermaeusMora/seekers/web_pages/downloads
/HermaeusMora/seekers/web_pages/markdowns
/HermaeusMora/seekers/web_pages/chunks
